.row {
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 3rem;

    &::-webkit-scrollbar {
        display: none;
    }

    .row__title {
        margin-left: 2rem;
        left: 10px;
        width: 10%;
    }

    .row__slidebar {
        display: flex;

    }
}